.about-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .image-card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .image-card-wrapper {
      width: 100%;
      justify-content: center;
    }
  }
/* .about-content-container{
    border: 1px solid pink;
    overflow-y: scroll;
} */