.about-image-container {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.col-12.col-md-6.col-lg-3 > * {
  width: 100%;
}
@media (max-width: 420px) {
  .about-image-container {
    --bs-gutter-x: 0.5rem;
    justify-content: center;
  }
  .about-container {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
