.authentication-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(/sign-in-image.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding: 1rem;
  gap: 2rem;
}
@media (min-width: 768px) {
  .authentication-container {
    gap: 4rem;
  }
}
@media (min-width: 1420px) {
  .authentication-container {
    flex-direction: row;
    padding: 6rem 1rem;
  }
}
