.btn{
  margin: 5px !important
}
.google-sign-in {
    background-color: aqua !important; 
}
.btn-info{
  color: white !important;
  width: 250px;
}
.btn-payment{
  border: 1px solid gray !important;
  width: 100%;
  margin: 0 !important;
}
.btn-payment:hover{
  border: 1px solid blue !important;
}
