/* Override styles for the google sign-in button */
.btn{
  margin: 5px !important
}
.google-sign-in {
    background-color: aqua !important;
    
}
/* .cart{
  font-size: 18px;
} */
  
  /* .google-sign-in:hover {
    background-color: #00ced1 !important;
    color: white;
  } */
  