
.cart-dropdown-container {
  position: absolute;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid black;
  background-color: white;
  top: 90px;
  right: 20px;
  z-index: 5;
}
.empty-message {
  font-size: 14px;
  margin: 50px auto;
}

.cart-items {
  height: 240px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

button {
  margin-top: auto;
}
@media (min-width: 768px) {
  .cart-dropdown-container {
    width: 240px;
    height: 340px;
    right: 40px;
    }
  .empty-message{
    font-size: 18px;
    margin: 50px auto;
    }
}
@media (min-width:1024px){
 
}