.category-card-title{
    margin: 0 !important;
    color: #000;
    text-decoration: underline;
    text-underline-offset: 4px;
}
.category-card-title:hover{
    color: green;
}
@media (min-width:768px){
    .category-card-title{
        margin: 10px !important;
    }
}