.home-container {
  background: url(/home-page-image.webp);
  background-position: center center;
  background-size: cover;
  position: relative;
  height: 600px;
  border-radius: 4px;
}
.home-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(52, 74, 66, 0.5);
  z-index: 1;
  border-radius: 4px;
}
.cover-container {
  position: relative;
  z-index: 2;
  color: white;
}

@media (min-width: 1420px) {
  .home-container {
    height: 800px;
  }
  .home-container h1 {
    font-size: 4rem;
  }
}
