.navbar{
    padding: 0 !important;
}
.navbar-brand img{
    height: 80px;
    width: 80px;
}
.navbar-collapse{
    flex-grow: 0 !important;
}

@media (min-width: 768px) {
    .navbar{
        padding: 0 4rem !important;
    }
}