.carousel-image {
    height: 300px; 
    object-fit: cover;
  }

.carousel-text {
    color: white;
    font-weight: bold;
    font-size: 2rem;
  }
  
  @media (min-width: 768px) {
    .carousel-text {
      font-size: 4rem; 
    }
  }
  
  @media (min-width: 1420px) {
    .carousel-image {
      height: 400px; 
    }
    .carousel-text {
      font-size: 5rem;
    }
  }
  