.image-card {
  width: 100%;
}

.image-card__img {
  width: 100%;
  display: block;
  object-fit: cover;
}

.image-card__body {
  max-height: 6rem;
  overflow-y: auto;
}

.image-card__text {
  margin: 0.5rem 0 0 0;
}
