.plants-page-container{
   padding: 0 1rem;
   text-align: center;
   margin:0 60px ;
   border: 1px solid pink;
   width: 80%;
}
.plants-page-container h1{
    font-size: 6rem;
}
.plants-page-categories{
    padding: 4rem 0;
}